# Ignore file specifici per il produttore
/producer/tokenBot.txt
/producer/apiKey.txt

# Ignore file specifici per il consumatore
/consumer/prova.txt

# Ignore file di ambiente 
.env

# Ignora i file di configurazione di Python
# __pycache__/
# *.pyc
# *.pyo
# *.pyd

# Ignore i file generati da Docker
# docker-compose.override.yml
# docker-compose.yml
.dockerignore